body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-height: 100vh;
    display: grid;
    place-content: center;
    overflow: hidden;
}

.cover_bg_1 {
    background: url("../image/SeamlessPurple.jpg");
    background-repeat: repeat;
}

.cover_bg_2 {
    background: url("../image/SeamlessGreen.png");
    background-repeat: repeat;
}

.cover_bg_3 {
    background: url("../image/SeamlessDarkBlue.png");
    background-repeat: repeat;
}

.cover_bg_4 {
    background: url("../image/SeamlessOrange.png");
    background-repeat: repeat;
}

.cover_bg_5 {
    background: url("../image/SeamlessDarkGreen.png");
    background-repeat: repeat;
}

.profile_banner_container {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.profile_banner {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    animation-name: float;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: calc(5%);
    margin: auto;
}

.profile_banner_background {
    height: auto;
    width: auto;
    max-width: 80%;
    max-height: 80%;
    animation-name: float;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: calc(15%);
    margin: auto;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes floatWithShadow {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(-10px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(0px);
    }
}

.home-page-container {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.home-page-grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    list-style: none;
}

* {
    box-sizing: border-box;
    margin: 0;
}

@media (max-width: 1000px) {
    .profile_banner {
        overflow: hidden;
    }

    .profile_banner_background {
        overflow: hidden;
    }
}