---
import PageButtonCard from "../components/PageContent/PageButtonCard.astro";
import VisualBackground from "../layouts/VisualBackground.astro";
---

<VisualBackground backgroundClass="cover_bg_1">
  <div class="profile_banner_container">
    <img
      class="profile_banner_background"
      src="./aurora@3x.png"
      draggable="false"
      inputmode="none"
    />
    <img
      class="profile_banner"
      src="./LogoSmall.png"
      draggable="false"
      inputmode="none"
    />
    <img draggable="false" inputmode="none" />
  </div>
  <div class="home-page-container">
    <div class="home-page-grid">
      <PageButtonCard
        cardTitle="Wild Chess Simulator"
        cardLink="/wild-chess-simulator"
        cardLogo="/icon/btn_icon_crown.png"
      />
      <PageButtonCard
        cardTitle="Devlog"
        cardLink="https://www.youtube.com/@ahmetahaydemir"
        cardLogo="/icon/btn_icon_youtube.png"
      />
      <PageButtonCard
        cardTitle="Itch.io"
        cardLink="https://ahmetahaydemir.itch.io/"
        cardLogo="/icon/btn_icon_gift.png"
      />
      <PageButtonCard
        cardTitle="Favourites"
        cardLink="/fav-list"
        cardLogo="/icon/btn_icon_ranking.png"
      />
      <PageButtonCard
        cardTitle="Resume"
        cardLink="/resume"
        cardLogo="/icon/btn_icon_book.png"
      />
    </div>
  </div>
</VisualBackground>
