---
import type { TeamEffectData } from "../../../public/data/TeamEffectDataStructure";

const { effectObject } = Astro.props;

interface Props {
	effectObject: TeamEffectData;
}
---

<table class="effect-table">
	<tr>
		<th>Size</th>
		<th>Effect Description</th>
	</tr>
	{
		effectObject.EffectArray?.map((child) => {
			return (
				<tr>
					<td>{child.Size}</td>
					<td>{child.Description}</td>
				</tr>
			);
		})
	}
</table>

<style>
	.effect-table {
		font-size: 1rem;
		margin-bottom: 1rem;
		border: 1px solid #ddd;
	}
	.effect-table tr:hover {
		background-color: var(--theme-bg-hover);
	}
	.effect-table th {
		background-color: var(--theme-selection-bg);
		font-weight: bolder;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
	}
	.effect-table td {
		font-weight: bold;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
	}
</style>
