<div id="analytics-workspace" class="analytics-workspace">
  <table id="analytics-table" class="analytics-table">
    <thead> </thead>
    <tbody> </tbody>
  </table>
</div>

<style>
  .analytics-workspace {
    background-color: var(--theme-navbar-bg);
    grid-column-start: 2;
    height: max-content;
    min-height: 75px;
    margin-bottom: 10px;
  }
  .analytics-summary-zone {
    border: 5px dashed var(--theme-divider);
  }
  tbody {
    outline: 2px dashed var(--theme-divider);
  }
  thead td {
    height: 75px;
    font-weight: bolder;
    outline: 2px dashed var(--theme-divider);
    border-color: initial;
    border-left-style: solid;
    border-left-width: 4px;
  }
  thead td:first-child {
    color: var(--theme-analytics-orange);
    font-size: 1.75em;
  }
  thead td:not(:first-child) {
    color: var(--theme-analytics-green);
    font-size: 1.5em;
  }
  .analytics-table tbody {
    font-weight: 600;
    height: 100px;
  }
</style>
