---
const { title, link } = Astro.props;
---

<script>
  // Find all buttons with the `alert` class on the page.
  const buttons = document.querySelectorAll("div.card");
  const links = document.querySelectorAll("a.title");
  console.log(links);
  // Handle clicks on each button.
  for (let index = 0; index < buttons.length; index++) {
    const element = buttons[index];
    element.addEventListener("click", () => {
      console.log("Card Clicked " + Object.name);
      window.location.href = links[index].toString();
    });
  }
</script>

<div class="card">
  <a class="title" href={link}>{title}</a>
  <div class="bar">
    <div class="emptybar"></div>
    <div class="filledbar"></div>
  </div>
</div>
